<div>
  <h2>Welcome to CircuitVerse, <%= @user.name %></h2>
  <%= inline_svg_tag "svgs/newAssignment.svg", alt: "New Assignment", class: "mailer-assignment-image" %>
  <p class="mailer-text">
    A new assignment named <span class="mailer-highlighted-text"><%= @assignment.name %> (<%= @assignment.deadline %>)</span> has been assigned in <span class="mailer-highlighted-text"><%= @group&.name || "Unknown Group" %></span>. <br>
    Assignment is mentored by <span class="mailer-highlighted-text"><%= @primary_mentor&.name || "Unknown Mentor" %></span>
  </p>
  <% if @assignment_url.present? %>
    <a href="<%= @assignment_url %>" class="mailer-button">View Assignment</a>
  <% end %>
  <p class="mailer-text">Keep building!</p>
</div>
